<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="An awesome bill splitting Webapp"/>
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#0060c0">
  <link rel="icon" href="/static/img/logo.png">

  {% include "main/tools_import_subpage.html" %}
  <title>WeShare</title>
</head>
<body>
    <div id="main"></div>
</body>
<script src="/static/bundle/main/index.js"></script>

<script>
if ('serviceWorker' in navigator) {
  console.log('Service Worker Supported');

  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/sw', { scope: '/' }).then(function(registration) {
      // console.log('Service Worker Registered');
    });

    navigator.serviceWorker.ready.then(function(registration) {
      // console.log('Service Worker Ready');
    });
  })
}
</script>
</html>
