<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% include "main/tools_import_subpage.html" %}
  <title>Index</title>
  <style>
    canvas {
      height: auto !important;
      width: 100% !important;
      max-width: 500px;
    }
    .center {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 50%;
    }
  </style>
</head>
<body>
  <div id="topbar" style="width:100%; height:10%"></div>
  <div id="qr-code" class="center"></div>
</body>
<script src="/static/bundle/main/qr_code.js"></script>

</html>
