.avatar {
	color: #888;
	fill: #1F90E6
}

#avatar-size {
	height: 28;
    width: 28
}

#span-margin {
	margin-right: 8vw;
	margin-left: 2vw
}

.m-list-item {
	margin-bottom: 8
}

.list-item-text {
	float: right
}

.remove-circle-outline {
	color: #d35400; 
	width: 18; 
	height: 18
}

#splitter-amount {
	width: 16vw; 
	margin-right: 6vw; 
	bottom: 3px
}