#loginCard {
	margin-left: 8vw;
	margin-right: 8vw;
	padding-bottom: 8vh;
}

.social {
	display: flex;
    justify-content: center
}

.socialButton {
	width: 66%;
	height: 48px;
}

#googleButton {
	background-color:#DD4B39;
	border-color:#DD4B39
}

#facebookButton {
	background-color: #3b5998;
	border-color: #3b5998
}

.socialIcon {
	color: white;
	height: 28;
	width: 28;
	margin-right: 28
}

.socialText {
	color: white;
	font-size: 13;
	font-weight: 400;
	padding-top: 2;
	text-transform: none
}

.inputWidth {
	width: 69%
}