.icon-size {
	width: 18px;
	height: 18px;
}

#link-style {
	margin-right: 5; 
	color: black
}

#ellipsis-icon {
	height: 100%;
  padding: 0 15px;
  margin-right: -15px;
  display: flex;
  align-items: center
}

#navbar-style {
	height: 6vh; 
	position: fixed;
	width: 100%;
	z-index: 1000
}

#home-icon {
	width: 28px; 
	height: 28px;
  color: white;
}
